/* Eshani Shah, W0737674, Date:11/24/2020 */

* {
    box-sizing: border-box;
}

body {
    /*margin: 0;*/
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

/* Creates topnav and gives background color for all pages*/
#topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    position: sticky;
}

/* styles topnav a link for all pages*/
#topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* styles topnav a on hover for all pages*/
#topnav a:hover {
    background-color: darkgray;
    color: black;
}

/* when nav clicked the text and background color changes for all pages */
#topnav a:active {
    background-color: lightblue;
    color: white;
}

/* when nav clicked the text and background color changes for all pages */
/*#topnav a:visited {
    background-color: lightblue;
    color: palevioletred;
}*/

/* puts the search box to the right of the nav for all pages */
.search-container {
    float: right;
}

/* selecting input text box located inside the topnav */
#topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

/* input text box search icon button located inside the topnav */
#topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: lightblue;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


#topnav .search-container button:hover {
    background: gold;
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 80px;
    margin-right: 200px;
    margin-bottom: 20px;
    margin-top: 0px;
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px lightblue;

}

h2 {
    text-align: center;
    margin-top: 40px;
    border-style: ridge;
}



h4 {
    font-size: 1.5em;
    margin-top: 1px;
}

#head {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}


/* Creates three equal columns that floats next to each other for home page */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    background-color: white;
}

/* Clear floats after the columns for home page */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
}

/* styles text for paragraph in home page */
#homepara {
    line-height: 1.6;
}

img {

    width: 200px;
    height: 200px;
    border-style: double;
    border-width: thick;
    /*margin-left: 70px;*/
    margin-top: 20px;
}

/* Styles the footer for all pages */
.footer {
    background-color: #e9e9e9;
    padding: 10px;
    text-align: center;
}

/*styles the table for resources page */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lemonchiffon
}

/*styles the book links in resources page*/
.card {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    background-color: lightskyblue;
    padding-left: 25px;
    margin-left: 120px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    margin-left: 50px;
}

.container {
    padding: 2px 16px;
    padding-left: 40px;
    margin-left: 250px;
}


/* for max screen size 960 */
@media screen and (max-width: 960px) {
    #topnav .search-container {
        float: right;
    }

    #topnav .search-container button {
        float: none;
    }

    #topnav a,
    #topnav input[type=text],
    #topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    #topnav input[type=text] {
        border: 1px solid #ccc;
    }

    /*img {
        width: 100%;
        height: auto;
    }*/
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }

    /*img {
        width: 100%;
        height: auto;
    }*/
}
